<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    
    <link href="/static/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/css/custom.css" media="all" rel="stylesheet" type="text/css" />

    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "timeline"], 'language': 'pl'});
    </script>
    {% block custom_js %}
    {% endblock %}
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            
            <ul>
                <li id="selected"><a href="{{ url_for('choose_template', template='presence_weekday.html') }}">Presence by weekday</a></li>
                <li><a href="{{ url_for('choose_template', template='mean_time_weekday.html') }}">Presence mean time</a></li>
                <li><a href="{{ url_for('choose_template', template='presence_start_end.html') }}">Presence start-end</a></li>
            </ul>
        </div>
        <div id="content">
            {% block header %}
            {% endblock %}
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="/static/img/loading.gif" />
                </div>
            </p>
        </div>

    </div>
</body>
</html>
